* {
    box-sizing: border-box;
    margin: 0;
}

.calculator{
    background-color:antiquewhite;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    border: solid 1px #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    border-radius: 5px;
    margin-top: 40px;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
}

button{
    padding: 20px;
    font-size: 25;
    border: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3 ease;

}

#result{
    width: 100%;
    padding: 10px;
    font-size: 24px;
    border:none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3) inset;
    margin-top: 30px;
}

button:hover{
    background-color:#ddd;
}

.clear{
    background-color: rgb(103, 213, 223);
    color: #de1717;

}

.number, .decimal{
    background-color:#cee6ef;
    color: red;
}

.operator{
    background-color:rgb(207, 200, 239);
    color: red;
}

.equals{
    background-color: rgb(103, 213, 223);
    grid-row: span 4;
}

